[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
ipykernel = "*"
jinja2 = "*"
jupyter = "*"
matplotlib = "*"
notebook = "*"
numpy = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.6"
